{% extends 'Master.html' %}
{% load crispy_forms_tags %}
{% block index %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="align-items-center justify-content-between mb-4">
        <div class="row">
            <div class="col-9">
                <h1 class="h3 mb-0 text-gray-800">FeedBacaks</h1>

            </div>
            <div class="col-3">
                <a href="#" class="btn btn-sm btn-primary shadow-sm"><i
                        class="fas fa-download fa-sm text-white-50"></i> Export Data</a>
                <a href="#" class=" btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#modelId"><i
                        class="fas fa-download fa-sm text-white-50"></i> Import Data</a>
            </div>

        </div>



    </div>



    <!-- Content Row -->
    <div class="row">
        <!-- {% for data in datasss %}
        {{data.Store_Name}}
{% endfor %} -->
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-12 mb-4">
            <div class="form-group">
                <form action="" method="post" noValidate>
                    {% csrf_token %}
                    <input type="hidden" name="status" value="0">
                    <div class="row">
                        <div class="col-3">
                            {{form.Name|as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{form.Department|as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{form.Suggestion|as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{form.Rating|as_crispy_field}}
                        </div>
                    </div>
                    
                    <input class="btn btn-sm btn-primary shadow-mm" type="Submit">

                </form>
            </div>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>

                        <tr>
                            <th> Name</th>
                            <th>Department</th>
                            <th>Suggestion</th>
                            <th>Rating</th>
                        </tr>

                    </thead>
                    <tbody>
                        {% for data in PPEdata%}
                        <tr>
                            <td>{{data.Name}}</td>
                            <td>{{data.Department}}</td>
                            <td>{{data.Suggestion}}</td>
                            <td>{{data.Rating}}</td>
                            
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <!-- Button trigger modal -->


        <!-- Modal -->
       
        {% endblock %}