{% extends 'Master.html' %}
{% load crispy_forms_tags %}
{% block index %}

<div class="container-fluid">


            </form>
        </div>
    </div>

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">This table will show the records  <a target="_blank"
                
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">PPE Info</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            
                            <tr>
                                <th>Person Name</th>
                                <th>Time</th>
                                <th>Frequenvy</th>
                                <th>Missed PPE</th>
                            </tr>
                           
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>Abc</td>
                                <td>00:00</td>
                                <td>2</td>
                                <td>Helmet</td>
                            </tr>
                            <tr>
                                <td>Abc</td>
                                <td>00:00</td>
                                <td>2</td>
                                <td>Helmet</td>
                            </tr>                            <tr>
                                <td>Abc</td>
                                <td>00:00</td>
                                <td>2</td>
                                <td>Helmet</td>
                            </tr>                            <tr>
                                <td>Abc</td>
                                <td>00:00</td>
                                <td>2</td>
                                <td>Helmet</td>
                            </tr>                            <tr>
                                <td>Abc</td>
                                <td>00:00</td>
                                <td>2</td>
                                <td>Helmet</td>
                            </tr>                            <tr>
                                <td>Abc</td>
                                <td>00:00</td>
                                <td>2</td>
                                <td>Helmet</td>
                            </tr>                            <tr>
                                <td>Abc</td>
                                <td>00:00</td>
                                <td>2</td>
                                <td>Helmet</td>
                            </tr>                            <tr>
                                <td>Abc</td>
                                <td>00:00</td>
                                <td>2</td>
                                <td>Helmet</td>
                            </tr>                            <tr>
                                <td>Abc</td>
                                <td>00:00</td>
                                <td>2</td>
                                <td>Helmet</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
{% endblock %}